.productCategoryContainer {
    width: 100%;
    height: 100%;
}

.productCategoryWrapper {
    width: 100%;
    height: 100%;
    padding: 15px;
}

.categoryListContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.categoryListWrapper {
    width: 100%;
}

.categoryIconWrapper {
    width: 100%;
    shape-outside: circle();
    clip-path: circle();
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebf5e9;

    img {
        width: 48px;
    }
}

.categoryDescription {
    margin-top: 5px;
    font-size: 10px;
    color: grey;
    text-align: center;
}
